<!-- Form Modal Opening Button -->
<div class="fixed-bottom row justify-content-center">
  <button
    type="button"
    class="btn btn-light btn-lg post-btn"
    (click)="open(postModal)"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>

<ng-template #postModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Post a new Meme</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <!-- Imahge Preview Section -->
      <div
        *ngIf="postForm.controls.url.value == ''"
        class="card image-prev-div"
      >
        <div class="card-body justify-content-center">Image Preview</div>
      </div>
      <div
        *ngIf="!validUrl && postForm.controls.url.value != ''"
        class="card border-danger image-prev-div"
      >
        <div class="card-body text-danger justify-content-center">
          Error: Image Falied to load
        </div>
      </div>
      <div *ngIf="validUrl" class="card image-prev-div">
        <div class="card-body justify-content-center">
          <img
            *ngIf="validUrl"
            class="card-img-top"
            src="{{ postForm.controls.url.value }}"
            (error)="onImageError()"
            (load)="onImageLoad()"
          />
        </div>
      </div>
      <!-- Image Input -->
      <input
        class="form-control name-input"
        type="text"
        placeholder="Image URL"
        formControlName="url"
        required
      />
      <!-- Name input -->
      <input
        class="form-control name-input"
        type="text"
        placeholder="Name"
        formControlName="name"
        required
      />
      <!-- Caption input -->
      <textarea
        class="form-control"
        placeholder="Caption"
        formControlName="caption"
        required
      ></textarea>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close('Cross click')"
      >
        CANCEL
      </button>
      <button
        class="btn btn-outline-primary"
        type="submit"
        [disabled]="!postForm.valid || !validUrl"
      >
        POST
      </button>
    </div>
  </form>
</ng-template>
